nav.links
    ul
        li.link.active
            a(href='/')  All Posts
        li.link
            a(href='/yourposts')  Your Posts
        li.link
            a(href='/makepost')  Make Post
        