div.field
    label(for='name')  Username 
        br  
    input#name(type='text' name='name' required='')
div.field
    label(for='password')  Password  
        br
    input#password(type='text' name='password' required='')